@model OpenDiscussion.Models.Topic

<h2 class="text-center mt-5">Edit Topic</h2>

<br />
<div>
    <a class="id-buton-outline btn" href="/Topics/Index/@Model.CategoryId">List Topic</a>
</div>
<br />
<br />

<form method="post" action="/Topics/Edit/@Model.TopicId">
    @Html.Label("Name", "Topic Name")
    <br />
    @Html.ValidationMessage("Name", null, new {@class="text-danger"})
    @Html.Editor("Name")
    <br /><br />
    @Html.Label("Description", "Topic Description")
    <br />
    @Html.ValidationMessage("Description", null, new {@class="text-danger"})
    @Html.Editor("Description")
    <br />
    <br/>
    <button class="id-buton-outline btn" type="submit">Save</button>
</form>